@use "../abstracts/functions";
@use "../abstracts/mixins";
@use "../abstracts/variables";
@use "../abstracts/placeholder";

//These are our app pages styles

.section {
  margin-bottom: 3rem;
  padding: 0rem 2rem;
}

.button-1 {
  @include mixins.button(
    50%,
    variables.$tertiary-color-dark,
    variables.$color-white,
    false
  );
}

.button-2 {
  @include mixins.button();
}

.button-3 {
  @include mixins.button(
    40%,
    variables.$tertiary-color-light,
    variables.$color-black,
    false
  );
}

.button-4 {
  @include mixins.button(
    35%,
    variables.$secondary-color-light,
    variables.$color-black,
    false
  );
}

code {
  font-family:
    "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
    "Droid Sans Mono", monospace, monospace;
  line-height: 1.8rem;
}

.pulse-1 {
  @include mixins.inline-animation(2s) {
    from {
      background-color: variables.$secondary-color-dark;
    }
    to {
      background-color: variables.$primary-color-dark;
    }
  }
}

.pulse-2 {
  @include mixins.inline-animation(1.5s) {
    from {
      background-color: variables.$secondary-color-light;
    }
    to {
      background-color: variables.$tertiary-color-dark;
    }
  }
}

.tool-belt-1 {
  @extend %tool-belt;
  color: #4285f4;
}

.tool-belt-2 {
  @extend %tool-belt;
  color: #567877;
}

.inline-text-colors {
  @include mixins.inline-text-colors(
    $success: variables.$color-success,
    $warning: variables.$color-danger,
    $highlight: variables.$tertiary-color-light
  );
}

.block {
  @include mixins.border(top left, 2px, solid, variables.$secondary-color-dark);
}

.invert-block-1 {
  background-color: variables.$primary-color;
  &:hover {
    background-color: functions.invert(variables.$primary-color, 60%);
  }
}

.invert-block-2 {
  background-color: variables.$primary-color;
  &:hover {
    background-color: functions.invert(variables.$primary-color, 30%);
  }
}

.invert-block-3 {
  background-color: variables.$primary-color;
  &:hover {
    background-color: functions.invert(variables.$primary-color, 10%);
  }
}

.code-block {
  box-shadow: variables.$base-box-shadow;
  border-radius: variables.$border-radius;
}

.border-1 {
  @include mixins.border(top left bottom right, 2px);
}

.border-2 {
  @include mixins.border(top, 2px, solid, variables.$secondary-color-dark);
}

.border-3 {
  @include mixins.border(
    left right,
    3px,
    dashed,
    variables.$tertiary-color-dark
  );
}

.myclass {
  background-color: variables.$primary-color;
  height: 100px;
  width: 100px;
  transition: 0.3s ease;

  @at-root {
    @keyframes fade {
      from {
        transform: scale(1);
      }
      to {
        transform: scale(1.5);
      }
    }
  }
  &:hover {
    animation: fade 5s infinite;
  }
}

.table-primary {
  table {
    font-family: variables.$base-font-family;
    border-collapse: collapse;
    width: 100%;
  }

  td,
  th {
    @include mixins.border(
      top right bottom left,
      1px,
      solid,
      variables.$table-border-color
    );
    text-align: left;
    padding: 8px;
  }

  // tr:nth-child(even) {
  //     background-color: $table-border-color;
  // }
}

@media (max-width: 1000px) {
  pre {
    overflow: scroll;
  }

  code {
  }
}
