@use "../abstracts/variables";

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: variables.$base-font-size;
    font-family: variables.$base-font-family;
}
