@use "../abstracts/variables";

/* Paddings */
@for $i from 0 through variables.$multiplier {
    @if variables.$is-point-grid-system {
        .#{variables.$project-prefix-name}-p-#{$i} {
            padding: variables.$point-grid * $i + px;
        }

        .#{variables.$project-prefix-name}-pt-#{$i} {
            padding-top: variables.$point-grid * $i + px;
        }

        .#{variables.$project-prefix-name}-pr-#{$i} {
            padding-right: variables.$point-grid * $i + px;
        }

        .#{variables.$project-prefix-name}-pb-#{$i} {
            padding-bottom: variables.$point-grid * $i + px;
        }

        .#{variables.$project-prefix-name}-pl-#{$i} {
            padding-left: variables.$point-grid * $i + px;
        }

        .#{variables.$project-prefix-name}-py-#{$i} {
            padding-top: variables.$point-grid * $i + px;
            padding-bottom: variables.$point-grid * $i + px;
        }

        .#{variables.$project-prefix-name}-px-#{$i} {
            padding-left: variables.$point-grid * $i + px;
            padding-right: variables.$point-grid * $i + px;
        }
    } @else if variables.$is-point-grid-system != true {
        .#{variables.$project-prefix-name}-p-#{$i} {
            padding: $i + rem;
        }

        .#{variables.$project-prefix-name}-pt-#{$i} {
            padding-top: $i + rem;
        }

        .#{variables.$project-prefix-name}-pr-#{$i} {
            padding-right: $i + rem;
        }

        .#{variables.$project-prefix-name}-pb-#{$i} {
            padding-bottom: $i + rem;
        }

        .#{variables.$project-prefix-name}-pl-#{$i} {
            padding-left: $i + rem;
        }

        .#{variables.$project-prefix-name}-py-#{$i} {
            padding-top: $i + rem;
            padding-bottom: $i + rem;
        }

        .#{variables.$project-prefix-name}-px-#{$i} {
            padding-left: $i + rem;
            padding-right: $i + rem;
        }
    }
}
