/* Card Colors */
/* Font & Font Colors */
/* Base Margin & Padding */
/* Border */
/* Base Font URL */
/* Card Colors */
/* Font & Font Colors */
/* Base Margin & Padding */
/* Border */
/* Base Font URL */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* Card Colors */
/* Font & Font Colors */
/* Base Margin & Padding */
/* Border */
/* Base Font URL */
.text-blue {
  color: #1919e6;
}

.bg-blue {
  background-color: #1919e6;
}

.text-blue-light-1 {
  color: #3030e9;
}

.bg-blue-light-1 {
  background-color: #3030e9;
}

.text-blue-light-2 {
  color: #4747eb;
}

.bg-blue-light-2 {
  background-color: #4747eb;
}

.text-blue-light-3 {
  color: #5e5eee;
}

.bg-blue-light-3 {
  background-color: #5e5eee;
}

.text-blue-light-4 {
  color: #7575f0;
}

.bg-blue-light-4 {
  background-color: #7575f0;
}

.text-blue-light-5 {
  color: #8c8cf3;
}

.bg-blue-light-5 {
  background-color: #8c8cf3;
}

.text-blue-light-6 {
  color: #a3a3f5;
}

.bg-blue-light-6 {
  background-color: #a3a3f5;
}

.text-blue-light-7 {
  color: #babaf8;
}

.bg-blue-light-7 {
  background-color: #babaf8;
}

.text-blue-light-8 {
  color: #d1d1fa;
}

.bg-blue-light-8 {
  background-color: #d1d1fa;
}

.text-blue-dark-1 {
  color: #1717cf;
}

.bg-blue-dark-1 {
  background-color: #1717cf;
}

.text-blue-dark-2 {
  color: #1414b8;
}

.bg-blue-dark-2 {
  background-color: #1414b8;
}

.text-blue-dark-3 {
  color: #1212a1;
}

.bg-blue-dark-3 {
  background-color: #1212a1;
}

.text-blue-dark-4 {
  color: #0f0f8a;
}

.bg-blue-dark-4 {
  background-color: #0f0f8a;
}

.text-blue-dark-5 {
  color: #0d0d73;
}

.bg-blue-dark-5 {
  background-color: #0d0d73;
}

.text-blue-dark-6 {
  color: #0a0a5c;
}

.bg-blue-dark-6 {
  background-color: #0a0a5c;
}

.text-blue-dark-7 {
  color: #080845;
}

.bg-blue-dark-7 {
  background-color: #080845;
}

.text-blue-dark-8 {
  color: #05052e;
}

.bg-blue-dark-8 {
  background-color: #05052e;
}

.text-red {
  color: #e61919;
}

.bg-red {
  background-color: #e61919;
}

.text-red-light-1 {
  color: #e93030;
}

.bg-red-light-1 {
  background-color: #e93030;
}

.text-red-light-2 {
  color: #eb4747;
}

.bg-red-light-2 {
  background-color: #eb4747;
}

.text-red-light-3 {
  color: #ee5e5e;
}

.bg-red-light-3 {
  background-color: #ee5e5e;
}

.text-red-light-4 {
  color: #f07575;
}

.bg-red-light-4 {
  background-color: #f07575;
}

.text-red-light-5 {
  color: #f38c8c;
}

.bg-red-light-5 {
  background-color: #f38c8c;
}

.text-red-light-6 {
  color: #f5a3a3;
}

.bg-red-light-6 {
  background-color: #f5a3a3;
}

.text-red-light-7 {
  color: #f8baba;
}

.bg-red-light-7 {
  background-color: #f8baba;
}

.text-red-light-8 {
  color: #fad1d1;
}

.bg-red-light-8 {
  background-color: #fad1d1;
}

.text-red-dark-1 {
  color: #cf1717;
}

.bg-red-dark-1 {
  background-color: #cf1717;
}

.text-red-dark-2 {
  color: #b81414;
}

.bg-red-dark-2 {
  background-color: #b81414;
}

.text-red-dark-3 {
  color: #a11212;
}

.bg-red-dark-3 {
  background-color: #a11212;
}

.text-red-dark-4 {
  color: #8a0f0f;
}

.bg-red-dark-4 {
  background-color: #8a0f0f;
}

.text-red-dark-5 {
  color: #730d0d;
}

.bg-red-dark-5 {
  background-color: #730d0d;
}

.text-red-dark-6 {
  color: #5c0a0a;
}

.bg-red-dark-6 {
  background-color: #5c0a0a;
}

.text-red-dark-7 {
  color: #450808;
}

.bg-red-dark-7 {
  background-color: #450808;
}

.text-red-dark-8 {
  color: #2e0505;
}

.bg-red-dark-8 {
  background-color: #2e0505;
}

.text-yellow {
  color: #e6e619;
}

.bg-yellow {
  background-color: #e6e619;
}

.text-yellow-light-1 {
  color: #e9e930;
}

.bg-yellow-light-1 {
  background-color: #e9e930;
}

.text-yellow-light-2 {
  color: #ebeb47;
}

.bg-yellow-light-2 {
  background-color: #ebeb47;
}

.text-yellow-light-3 {
  color: #eeee5e;
}

.bg-yellow-light-3 {
  background-color: #eeee5e;
}

.text-yellow-light-4 {
  color: #f0f075;
}

.bg-yellow-light-4 {
  background-color: #f0f075;
}

.text-yellow-light-5 {
  color: #f3f38c;
}

.bg-yellow-light-5 {
  background-color: #f3f38c;
}

.text-yellow-light-6 {
  color: #f5f5a3;
}

.bg-yellow-light-6 {
  background-color: #f5f5a3;
}

.text-yellow-light-7 {
  color: #f8f8ba;
}

.bg-yellow-light-7 {
  background-color: #f8f8ba;
}

.text-yellow-light-8 {
  color: #fafad1;
}

.bg-yellow-light-8 {
  background-color: #fafad1;
}

.text-yellow-dark-1 {
  color: #cfcf17;
}

.bg-yellow-dark-1 {
  background-color: #cfcf17;
}

.text-yellow-dark-2 {
  color: #b8b814;
}

.bg-yellow-dark-2 {
  background-color: #b8b814;
}

.text-yellow-dark-3 {
  color: #a1a112;
}

.bg-yellow-dark-3 {
  background-color: #a1a112;
}

.text-yellow-dark-4 {
  color: #8a8a0f;
}

.bg-yellow-dark-4 {
  background-color: #8a8a0f;
}

.text-yellow-dark-5 {
  color: #73730d;
}

.bg-yellow-dark-5 {
  background-color: #73730d;
}

.text-yellow-dark-6 {
  color: #5c5c0a;
}

.bg-yellow-dark-6 {
  background-color: #5c5c0a;
}

.text-yellow-dark-7 {
  color: #454508;
}

.bg-yellow-dark-7 {
  background-color: #454508;
}

.text-yellow-dark-8 {
  color: #2e2e05;
}

.bg-yellow-dark-8 {
  background-color: #2e2e05;
}

.text-green {
  color: #19e635;
}

.bg-green {
  background-color: #19e635;
}

.text-green-light-1 {
  color: #30e949;
}

.bg-green-light-1 {
  background-color: #30e949;
}

.text-green-light-2 {
  color: #47eb5d;
}

.bg-green-light-2 {
  background-color: #47eb5d;
}

.text-green-light-3 {
  color: #5eee72;
}

.bg-green-light-3 {
  background-color: #5eee72;
}

.text-green-light-4 {
  color: #75f086;
}

.bg-green-light-4 {
  background-color: #75f086;
}

.text-green-light-5 {
  color: #8cf39a;
}

.bg-green-light-5 {
  background-color: #8cf39a;
}

.text-green-light-6 {
  color: #a3f5ae;
}

.bg-green-light-6 {
  background-color: #a3f5ae;
}

.text-green-light-7 {
  color: #baf8c2;
}

.bg-green-light-7 {
  background-color: #baf8c2;
}

.text-green-light-8 {
  color: #d1fad7;
}

.bg-green-light-8 {
  background-color: #d1fad7;
}

.text-green-dark-1 {
  color: #17cf30;
}

.bg-green-dark-1 {
  background-color: #17cf30;
}

.text-green-dark-2 {
  color: #14b82a;
}

.bg-green-dark-2 {
  background-color: #14b82a;
}

.text-green-dark-3 {
  color: #12a125;
}

.bg-green-dark-3 {
  background-color: #12a125;
}

.text-green-dark-4 {
  color: #0f8a20;
}

.bg-green-dark-4 {
  background-color: #0f8a20;
}

.text-green-dark-5 {
  color: #0d731b;
}

.bg-green-dark-5 {
  background-color: #0d731b;
}

.text-green-dark-6 {
  color: #0a5c15;
}

.bg-green-dark-6 {
  background-color: #0a5c15;
}

.text-green-dark-7 {
  color: #084510;
}

.bg-green-dark-7 {
  background-color: #084510;
}

.text-green-dark-8 {
  color: #052e0b;
}

.bg-green-dark-8 {
  background-color: #052e0b;
}

.text-orange {
  color: #ffa600;
}

.bg-orange {
  background-color: #ffa600;
}

.text-orange-light-1 {
  color: #ffaf1a;
}

.bg-orange-light-1 {
  background-color: #ffaf1a;
}

.text-orange-light-2 {
  color: #ffb833;
}

.bg-orange-light-2 {
  background-color: #ffb833;
}

.text-orange-light-3 {
  color: #ffc14d;
}

.bg-orange-light-3 {
  background-color: #ffc14d;
}

.text-orange-light-4 {
  color: #ffca66;
}

.bg-orange-light-4 {
  background-color: #ffca66;
}

.text-orange-light-5 {
  color: #ffd380;
}

.bg-orange-light-5 {
  background-color: #ffd380;
}

.text-orange-light-6 {
  color: #ffdb99;
}

.bg-orange-light-6 {
  background-color: #ffdb99;
}

.text-orange-light-7 {
  color: #ffe4b3;
}

.bg-orange-light-7 {
  background-color: #ffe4b3;
}

.text-orange-light-8 {
  color: #ffedcc;
}

.bg-orange-light-8 {
  background-color: #ffedcc;
}

.text-orange-dark-1 {
  color: #e69500;
}

.bg-orange-dark-1 {
  background-color: #e69500;
}

.text-orange-dark-2 {
  color: #cc8500;
}

.bg-orange-dark-2 {
  background-color: #cc8500;
}

.text-orange-dark-3 {
  color: #b37400;
}

.bg-orange-dark-3 {
  background-color: #b37400;
}

.text-orange-dark-4 {
  color: #996400;
}

.bg-orange-dark-4 {
  background-color: #996400;
}

.text-orange-dark-5 {
  color: #805300;
}

.bg-orange-dark-5 {
  background-color: #805300;
}

.text-orange-dark-6 {
  color: #664200;
}

.bg-orange-dark-6 {
  background-color: #664200;
}

.text-orange-dark-7 {
  color: #4d3200;
}

.bg-orange-dark-7 {
  background-color: #4d3200;
}

.text-orange-dark-8 {
  color: #332100;
}

.bg-orange-dark-8 {
  background-color: #332100;
}

.text-purple {
  color: #9900ff;
}

.bg-purple {
  background-color: #9900ff;
}

.text-purple-light-1 {
  color: #a31aff;
}

.bg-purple-light-1 {
  background-color: #a31aff;
}

.text-purple-light-2 {
  color: #ad33ff;
}

.bg-purple-light-2 {
  background-color: #ad33ff;
}

.text-purple-light-3 {
  color: #b84dff;
}

.bg-purple-light-3 {
  background-color: #b84dff;
}

.text-purple-light-4 {
  color: #c266ff;
}

.bg-purple-light-4 {
  background-color: #c266ff;
}

.text-purple-light-5 {
  color: #cc80ff;
}

.bg-purple-light-5 {
  background-color: #cc80ff;
}

.text-purple-light-6 {
  color: #d699ff;
}

.bg-purple-light-6 {
  background-color: #d699ff;
}

.text-purple-light-7 {
  color: #e0b3ff;
}

.bg-purple-light-7 {
  background-color: #e0b3ff;
}

.text-purple-light-8 {
  color: #ebccff;
}

.bg-purple-light-8 {
  background-color: #ebccff;
}

.text-purple-dark-1 {
  color: #8a00e6;
}

.bg-purple-dark-1 {
  background-color: #8a00e6;
}

.text-purple-dark-2 {
  color: #7a00cc;
}

.bg-purple-dark-2 {
  background-color: #7a00cc;
}

.text-purple-dark-3 {
  color: #6b00b3;
}

.bg-purple-dark-3 {
  background-color: #6b00b3;
}

.text-purple-dark-4 {
  color: #5c0099;
}

.bg-purple-dark-4 {
  background-color: #5c0099;
}

.text-purple-dark-5 {
  color: #4d0080;
}

.bg-purple-dark-5 {
  background-color: #4d0080;
}

.text-purple-dark-6 {
  color: #3d0066;
}

.bg-purple-dark-6 {
  background-color: #3d0066;
}

.text-purple-dark-7 {
  color: #2e004d;
}

.bg-purple-dark-7 {
  background-color: #2e004d;
}

.text-purple-dark-8 {
  color: #1f0033;
}

.bg-purple-dark-8 {
  background-color: #1f0033;
}

.text-gray {
  color: #808080;
}

.bg-gray {
  background-color: #808080;
}

.text-gray-light-1 {
  color: #8d8d8d;
}

.bg-gray-light-1 {
  background-color: #8d8d8d;
}

.text-gray-light-2 {
  color: #999999;
}

.bg-gray-light-2 {
  background-color: #999999;
}

.text-gray-light-3 {
  color: #a6a6a6;
}

.bg-gray-light-3 {
  background-color: #a6a6a6;
}

.text-gray-light-4 {
  color: #b3b3b3;
}

.bg-gray-light-4 {
  background-color: #b3b3b3;
}

.text-gray-light-5 {
  color: silver;
}

.bg-gray-light-5 {
  background-color: silver;
}

.text-gray-light-6 {
  color: #cccccc;
}

.bg-gray-light-6 {
  background-color: #cccccc;
}

.text-gray-light-7 {
  color: #d9d9d9;
}

.bg-gray-light-7 {
  background-color: #d9d9d9;
}

.text-gray-light-8 {
  color: #e6e6e6;
}

.bg-gray-light-8 {
  background-color: #e6e6e6;
}

.text-gray-dark-1 {
  color: #737373;
}

.bg-gray-dark-1 {
  background-color: #737373;
}

.text-gray-dark-2 {
  color: #666666;
}

.bg-gray-dark-2 {
  background-color: #666666;
}

.text-gray-dark-3 {
  color: #5a5a5a;
}

.bg-gray-dark-3 {
  background-color: #5a5a5a;
}

.text-gray-dark-4 {
  color: #4d4d4d;
}

.bg-gray-dark-4 {
  background-color: #4d4d4d;
}

.text-gray-dark-5 {
  color: #404040;
}

.bg-gray-dark-5 {
  background-color: #404040;
}

.text-gray-dark-6 {
  color: #333333;
}

.bg-gray-dark-6 {
  background-color: #333333;
}

.text-gray-dark-7 {
  color: #262626;
}

.bg-gray-dark-7 {
  background-color: #262626;
}

.text-gray-dark-8 {
  color: #1a1a1a;
}

.bg-gray-dark-8 {
  background-color: #1a1a1a;
}

.text-black {
  color: #000;
}

.bg-black {
  background-color: #000;
}

.text-white {
  color: #fff;
}

.bg-white {
  background-color: #fff;
}

/* Card Colors */
/* Font & Font Colors */
/* Base Margin & Padding */
/* Border */
/* Base Font URL */
.btn-blue {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 1rem 2rem;
  border-radius: 0.8rem;
  background-color: #1919e6;
  font-size: 32px;
}
.btn-blue:hover {
  background-color: #5e5eee;
}

.btn-outlined-blue {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 1rem 2rem;
  border-radius: 0.8rem;
  background-color: #fff;
  font-size: 32px;
  border: 1px solid #1919e6;
  color: #1919e6;
}
.btn-outlined-blue:hover {
  background-color: #1919e6;
  color: white;
}

.btn-complement-blue {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 1rem 2rem;
  border-radius: 0.8rem;
  background-color: #1919e6;
  font-size: 32px;
  color: #f5f5a3;
}
.btn-complement-blue:hover {
  color: #1919e6;
  background-color: #f5f5a3;
}

.btn-red {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 1rem 2rem;
  border-radius: 0.8rem;
  background-color: #e61919;
  font-size: 32px;
}
.btn-red:hover {
  background-color: #ee5e5e;
}

.btn-outlined-red {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 1rem 2rem;
  border-radius: 0.8rem;
  background-color: #fff;
  font-size: 32px;
  border: 1px solid #e61919;
  color: #e61919;
}
.btn-outlined-red:hover {
  background-color: #e61919;
  color: white;
}

.btn-complement-red {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 1rem 2rem;
  border-radius: 0.8rem;
  background-color: #e61919;
  font-size: 32px;
  color: #a3f5f5;
}
.btn-complement-red:hover {
  color: #e61919;
  background-color: #a3f5f5;
}

.btn-yellow {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 1rem 2rem;
  border-radius: 0.8rem;
  background-color: #e6e619;
  font-size: 32px;
}
.btn-yellow:hover {
  background-color: #eeee5e;
}

.btn-outlined-yellow {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 1rem 2rem;
  border-radius: 0.8rem;
  background-color: #fff;
  font-size: 32px;
  border: 1px solid #e6e619;
  color: #e6e619;
}
.btn-outlined-yellow:hover {
  background-color: #e6e619;
  color: white;
}

.btn-complement-yellow {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 1rem 2rem;
  border-radius: 0.8rem;
  background-color: #e6e619;
  font-size: 32px;
  color: #a3a3f5;
}
.btn-complement-yellow:hover {
  color: #e6e619;
  background-color: #a3a3f5;
}

.btn-green {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 1rem 2rem;
  border-radius: 0.8rem;
  background-color: #19e635;
  font-size: 32px;
}
.btn-green:hover {
  background-color: #5eee72;
}

.btn-outlined-green {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 1rem 2rem;
  border-radius: 0.8rem;
  background-color: #fff;
  font-size: 32px;
  border: 1px solid #19e635;
  color: #19e635;
}
.btn-outlined-green:hover {
  background-color: #19e635;
  color: white;
}

.btn-complement-green {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 1rem 2rem;
  border-radius: 0.8rem;
  background-color: #19e635;
  font-size: 32px;
  color: #f5a3ea;
}
.btn-complement-green:hover {
  color: #19e635;
  background-color: #f5a3ea;
}

.btn-orange {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 1rem 2rem;
  border-radius: 0.8rem;
  background-color: #ffa600;
  font-size: 32px;
}
.btn-orange:hover {
  background-color: #ffc14d;
}

.btn-outlined-orange {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 1rem 2rem;
  border-radius: 0.8rem;
  background-color: #fff;
  font-size: 32px;
  border: 1px solid #ffa600;
  color: #ffa600;
}
.btn-outlined-orange:hover {
  background-color: #ffa600;
  color: white;
}

.btn-complement-orange {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 1rem 2rem;
  border-radius: 0.8rem;
  background-color: #ffa600;
  font-size: 32px;
  color: #99bdff;
}
.btn-complement-orange:hover {
  color: #ffa600;
  background-color: #99bdff;
}

.btn-purple {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 1rem 2rem;
  border-radius: 0.8rem;
  background-color: #9900ff;
  font-size: 32px;
}
.btn-purple:hover {
  background-color: #b84dff;
}

.btn-outlined-purple {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 1rem 2rem;
  border-radius: 0.8rem;
  background-color: #fff;
  font-size: 32px;
  border: 1px solid #9900ff;
  color: #9900ff;
}
.btn-outlined-purple:hover {
  background-color: #9900ff;
  color: white;
}

.btn-complement-purple {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 1rem 2rem;
  border-radius: 0.8rem;
  background-color: #9900ff;
  font-size: 32px;
  color: #c2ff99;
}
.btn-complement-purple:hover {
  color: #9900ff;
  background-color: #c2ff99;
}

.btn-gray {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 1rem 2rem;
  border-radius: 0.8rem;
  background-color: #808080;
  font-size: 32px;
}
.btn-gray:hover {
  background-color: #a6a6a6;
}

.btn-outlined-gray {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 1rem 2rem;
  border-radius: 0.8rem;
  background-color: #fff;
  font-size: 32px;
  border: 1px solid #808080;
  color: #808080;
}
.btn-outlined-gray:hover {
  background-color: #808080;
  color: white;
}

.btn-complement-gray {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 1rem 2rem;
  border-radius: 0.8rem;
  background-color: #808080;
  font-size: 32px;
  color: #cdcdcd;
}
.btn-complement-gray:hover {
  color: #808080;
  background-color: #cdcdcd;
}

.btn-black {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 1rem 2rem;
  border-radius: 0.8rem;
  background-color: #000;
  font-size: 32px;
}
.btn-black:hover {
  background-color: #262626;
}

.btn-outlined-black {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 1rem 2rem;
  border-radius: 0.8rem;
  background-color: #fff;
  font-size: 32px;
  border: 1px solid #000;
  color: #000;
}
.btn-outlined-black:hover {
  background-color: #000;
  color: white;
}

.btn-complement-black {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 1rem 2rem;
  border-radius: 0.8rem;
  background-color: #000;
  font-size: 32px;
  color: #4d4d4d;
}
.btn-complement-black:hover {
  color: #000;
  background-color: #4d4d4d;
}

.btn-white {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 1rem 2rem;
  border-radius: 0.8rem;
  background-color: #fff;
  font-size: 32px;
}
.btn-white:hover {
  background-color: white;
}

.btn-outlined-white {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 1rem 2rem;
  border-radius: 0.8rem;
  background-color: #fff;
  font-size: 32px;
  border: 1px solid #fff;
  color: #fff;
}
.btn-outlined-white:hover {
  background-color: #fff;
  color: white;
}

.btn-complement-white {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 1rem 2rem;
  border-radius: 0.8rem;
  background-color: #fff;
  font-size: 32px;
  color: white;
}
.btn-complement-white:hover {
  color: #fff;
  background-color: white;
}

.font-sm {
  font-size: 12px;
}

.font-md {
  font-size: 16px;
}

.font-lg {
  font-size: 24px;
}

.font-xl {
  font-size: 32px;
}

.font-xxl {
  font-size: 48px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: inherit;
}

body {
  font-family: Poppins;
  font-size: 16px;
}

.fonts-container, .buttons-container, .colors-container, .card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.colors-container .blocks, .card-container .cards {
  display: flex;
  flex-direction: row;
}

.nav-bar {
  background-color: #326dee;
  margin-bottom: 1.25rem;
  width: 100%;
}
.nav-bar .nav-title {
  padding: 0.5rem;
  color: white;
  font-size: 1.8rem;
}

.card-container h1 {
  color: #265584;
  margin: 2rem 0rem;
  font-size: 1.6rem;
}
.card-container .cards .card-primary {
  background-color: #326dee;
  width: 15rem;
  height: 5rem;
}
.card-container .cards .card-primary .card-title {
  padding: 1rem;
  font-size: 1rem;
  color: white;
}
.card-container .cards .card-secondary {
  background-color: #1ac886;
  width: 15rem;
  height: 5rem;
}
.card-container .cards .card-secondary .card-title {
  padding: 1rem;
  font-size: 1rem;
  color: white;
}
.card-container .cards .card-error {
  background-color: #d32752;
  width: 15rem;
  height: 5rem;
}
.card-container .cards .card-error .card-title {
  padding: 1rem;
  font-size: 1rem;
  color: white;
}
.card-container .cards .card-info {
  background-color: #f6c31c;
  width: 15rem;
  height: 5rem;
}
.card-container .cards .card-info .card-title {
  padding: 1rem;
  font-size: 1rem;
  color: white;
}

.colors-container h1 {
  color: #265584;
  margin: 2rem 0rem;
  font-size: 1.6rem;
}
.colors-container .blocks .block {
  padding: 1rem;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.buttons-container h1 {
  color: #265584;
  margin: 2rem 0rem;
  font-size: 1.6rem;
}
.buttons-container .buttons .btn {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 1rem 2rem;
  border-radius: 0.8rem;
  background-color: #e2e2e2;
  font-size: 32px;
}

.fonts-container h1 {
  color: #265584;
  margin: 2rem 0rem;
  font-size: 1.6rem;
}